/* Commone css start =============== */
:root{
    --primary-color: #DDC8AF;
    --secondary-color: #2A2A2A;
    --common1: #ffffff;
}
/* Commone css end =============== */

#hero{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/blog-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* post css end=============== */
#post .row2{
    padding: 10px 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    justify-items: center;
    padding: 10px;
    background: var(--common1);
}
#post .card2{
    width: 100%;
    height: auto;
    box-shadow: 0 3px 20px -5px rgba(189, 188, 188, 0.5);
    cursor: pointer;
    /* margin: 10px; */
}
#post .card2 .postimg{
    width: 100%;
    height: 250px;
    overflow: hidden;
}
#post .card2 .postimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: postImage 2s linear infinite alternate;
}
@keyframes postImage {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}
#post .card2 .content{
    padding: 30px;
    background: var(--common1);
}
#post .card2 .content a p{
    margin: 15px 0;
}
#post .card2 .content a{
    display: block;
    text-transform: capitalize;
    color: var(--secondary-color);
    padding:15px 0;
}
#post .pagination{
    padding: 50px 0 20px 0;
    text-align: center;
}
#post .pagination a{
    display: inline-block;
    color: var(--secondary-color);
    font-size: 20px;
    line-height: 27px;
    padding: 5px 12px;
    margin: 5px 0;
    transition: all 0.3s linear;
}
#post .pagination a:hover{
    color: var(--primary-color);
    background: var(--secondary-color);
}

/* post css end=============== */  



@media screen and (max-width: 600px)
{
    #header .logo {
        width: 150px;
        height: auto;
    }
    #hero .hero-content {
        width: 70%;
    }
    #about .container {
        display: block;
    }
    .left {
        justify-content: center;
        padding: 50px 0;
    }
    #about .content {
        padding-left: 0;
    }
    #about h2 {
        text-align: center;
    }
    #about p {
        text-align: center;
    }
    #post .card2{
        margin: 10px;
    }
    ul {
        text-align: center;
    }
    #footer .footer-logo {
        width: 130px;
    }
    h1 {
        font-size: 45px;
        line-height: 55px;
    }
    h2{
        font-size: 35px;
        line-height: 45px;
        padding-bottom: 25px;
    }
    h3{
        font-size: 26px;
        line-height: 40px;
    }
    p{
        font-size: 16px;
        line-height: 22px;
    }
    #post .row2 {
        padding: 10px;
    }
    #post .card2 {
        margin: 10px;
    }
    .sidebar{
        display: none;
    }
}
@media screen and (max-width: 850px) and (min-width: 600px)
{
    #header .logo {
        width: 200px;
        height: auto;
    }
    #about .container {
        display: block;
    }
    .left {
        justify-content: center;
        padding: 50px 0;
    }
    #about .content {
        padding-left: 0;
    }
    #about h2 {
        text-align: center;
    }
    #about p {
        text-align: center;
    }
    #post .card2{
        margin: 10px;
    }
    ul {
        text-align: center;
    }
    #footer .footer-logo {
        width: 130px;
    }
    h1 {
        font-size: 45px;
        line-height: 55px;
    }
    h2{
        font-size: 35px;
        line-height: 45px;
        padding-bottom: 25px;
    }
    h3{
        font-size: 26px;
        line-height: 40px;
    }
    p{
        font-size: 16px;
        line-height: 22px;
    }
    #footer .footer-logo {
        width: 160px;
    }
}